body {
    background-color: black;
}

h1 {
    color: white;
    font-family: "Press Start 2P";
}

p {
    color: rgb(0, 255, 0);
    font-family: "consolas", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}